# Ignore Python virtual environments
.venv/

# Ignore JetBrains (PyCharm) settings
.idea/

# Ignore Python cache files
__pycache__/
*.py[cod]
*$py.class
*.so

# Ignore data directories (input/output images and videos)
**/data/input/
**/data/output/

# But keep the data directory structure
!**/data/input/.gitkeep
!**/data/output/.gitkeep
